body {
	background-color: #FFDE59;
}

.name_prog {
	color: white;
	font-size: 10em;
	font-family: arial black ;
	font-weight: bold;
	text-align: center;
	margin-top: 30%;
	text-shadow:  16px 00px 25px grey;
}

.menu {
	text-align: center;
	margin-top: 25%;
}

#but1 {
	margin-right: 70px;
}

#but2 {
	margin-left: : 20px;
}

#rec {
	margin-top: 55%;
}

#bonus {
	color: white;
	font-size: 6em;
	font-family: arial;
}